<div class="main">
  <h3>Six Weeks to Build Out These Features and Tasks:</h3>

  <h3>Week 1 - Apr 14th</h3>
    <br/>Fake Websitename in URL during Development √
    <br/>Build Views - <%= link_to "Store", store_frontpage_path %>
    <br/>Build Views - <%= link_to "Store_Admin", store_admin_dashboard_path %>
    <br/>Build Views - <%= link_to "Platform_Admin", platform_admin_dashboard_path %>
    <br/>Mobile-Optimized Store on All Plans
    <br/>Build Models - Platform_Admin
      <ul>
        <li>Monthly Billing of Shops on signup day - Background Worker</li>
        <li>Stripe for Platform_Admins</li>
      </ul>
    <br/>Build Models - Store_Admin
      <ul>
        <li>Stripe for Store Admins</li>
        <li>Billing of Carts</li>
        <li>Shipping Fees by lbs or flat fee</li>
        <li>Integration with USPS, Fedex, UPS and DHL</li>
      </ul>
    <br/>Build Models - Shopper
    <br/>Faker gem to populate database
  <h3>Week 2 - Apr 21st</h3>
    <br/>Store Monster Blog - Tumblr Integration?
    <br/>Write Blog Posts for Backwards Release
    <br/>Demo Videos for Blog and homepage
    <br/>Custom Domain Names for stores
    <br/>Subdomains for stores and parts of platform site
    <br/>Build Controllers - Platform_Admins
    <br/>Build Controllers - Store_Admins - Also Homepage looks same as this
    <br/>Build Controllers - Store
    <br/>Emails on Checkout
    <br/>Background Workers for Emails
    <br/>Build Cart
    <br/>Different Carts for different shops
    <br/>No log-in Checkout (Selectable)
    <br/>Built-In Daily Deal Feature
    <br/>10+ FREE Ready-to-Go Store Designs
  <h3>Week 3 - Apr 28th</h3>
    <br/>Bank Level Security
    <br/>Level 1 PCI compliance protects your store from hackers
    <br/>Automatic backups of store and platform data
    <br/>Performance Testing for Page Speed and Caching
    <br/>Transaction Fees
    <br/>One Page Checkout
    <br/>Product reviews
    <br/>Add favicon to site
    <br/>Add favicon for store sites
    <br/>Free Live Chat Software for Admin
  <h3>Week 4 - May 5th</h3>
    <br/>Quickbooks Integration
    <br/>Inventory Control System
    <br/>Store Monster Blog - Tumblr Integration?
    <br/>Write Blog Posts for Backwards Release
    <br/>Demo Videos for Blog and homepage
    <br/>Platform Google Marketing
    <br/>Platform Linkedin Marketing
    <br/>Platform Facebook Marketing
    <br/>Platform Twitter Marketing
    <br/>Platform HootSuite Integration
    <br/>Email Support
    <br/>Custom CSS for pages where admin can select custom colors.
  <h3>Week 5 - May 12th</h3>
    <br/>Built-In Social Store
    <br/>Customer Google Marketing
    <br/>Customer Linkedin Marketing
    <br/>Customer Facebook Marketing
    <br/>Customer Twitter Marketing
    <br/>Customer HootSuite Integration
    <br/>Built-In Newsletter System (Create,Test,Track)
    <br/>Built-in YouTube Product Video Management
    <br/>Direct Admin Integration to Post to Facebook and Twitter
    <br/>Built-In Facebook "Send" and "Share" Options
    <br/>Advanced CRM System - Blog with Facebook, Twitter and Etsy integration
    <br/>Built in Google Analytics - Integrated Reporting System (incl. Abandoned Cart)
  <h3>Week 6 - May 19th</h3>
    <br/>Built-In Gift Certificates
    <br/><strong>Stretch Goal - Built-in Wish Lists</strong>
    <br/><strong>Stretch Goal - Built-In Gift Registry</strong>
    <br/><strong>Stretch Goal - Add Store Gift Registry to Gift Registry Depot</strong>
    <br/><strong>Stretch Goal - Easy Integration with Google Trusted Stores</strong>
    <br/><strong>Stretch Goal - Product Ratings & Reviews in Google Search Results</strong>
    <br/><strong>Stretch Goal - Built-in eBay integration</strong>
    <br/><strong>Stretch Goal - Built-In Affiliate Program</strong>
    <br/><strong>Stretch Goal - Free Appification of Your Store</strong>
    <br/><strong>Stretch Goal - Store for Restaurant, Shops and Services Companies</strong>
    <br/><strong>Stretch Goal - International Multilanguage Stores</strong>
  <h3>Launch Day - May 26th</h3>
</div>
