<header>
  <div class="inner_header">
    <h1>Store Monster</h1>
    <div class="right_header">
      <h2>Features</h2>
      <h2>Examples</h2>
      <h2>Pricing</h2>
      <h2>Blog</h2>
      <h2>Resources</h2>
      <h2>Login</h2>
    </div>
  </div>
</header>

<p>Use Store Monster to create your online store today.</p>

<h3>Sign up for a free trial:</h3>
<form>
  <input type="text"/>
  <input type="email"/>
  <input type="password"/>
</form>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<footer>
insert stuff here
</footer>
