<header>
  <div class="inner_header">
    <h1>Store Monster</h1>
    <div class="right_header">
      <h2>Plans</h2>
      <h2>Examples</h2>
      <h2>Features</h2>
      <h2>Resources</h2>
      <h2>Blog</h2>
      <h2>Login</h2>
    </div>
  </div>
</header>
<div class="main">
  <p>Build a store with Store Monster.</p>

  <form>
    <h3>Sign up for a free 3 week trial:</h3>
    <input type="text"/>
    <input type="email"/>
    <input type="password"/>
    <input type="submit"/>
  </form>
</div>



<footer>
  <div class="bottom-main">
    <ul class="list">
      <li>Features</li>
      <li>Mobile</li>
      <li>Google Ads</li>
      <li>Testimonials</li>
      <li>Contact Us</li>
      <li>FAQ</li>
      <li>About Us</li>
    </ul>

    <ul class="social-list">
      <li>Facebook</li>
      <li>LinkedIn</li>
      <li>Twitter</li>
      <li>YouTube</li>
      <li>Pinterest</li>
    </ul>
  </div>
</footer>
