<div class="main">
  <p>Build a store with Store Monster.</p>

  <form>
    <h3>Sign up for a free 3 week trial:</h3>
    <input type="text"/>
    <input type="email"/>
    <input type="password"/>
    <input type="submit", value="SignUp"/>
  </form>
</div>
