body{
  margin: 0px;
  font-family: verdana;
}

h1{
  font-size: 250%;
  margin: 0px;
  display: inline;
}
h2{
  color: lightblue;
  display: inline;
  margin-right: 5px;
}
.inner_header{
  width: 73%;
  margin: auto;
}
.right_header{
  color: lightblue;
  float: right;
  padding-top: 5px;
}
.main{
  width: 73%;
  margin: auto;
}
.box{
  border: solid black 4px;
  height: 50px;
  padding: 15px;
}
p{
  width: 50%;
  margin: auto;
  margin-top: 15px;
}
form{
  width: 60%;
  margin: auto;
}
.bottom-main{
  width: 50%;
  margin: auto;
}
li:hover{
  color: lightgreen;
}
a{
  text-decoration: none;
  color: lightblue;
}
a:hover{
  color: lightgreen;
}

