<!-- Header and Nav -->
<div class="row">
  <div class="large-3 columns">
    <h4>Store Name Admin Dashboard</h4>
  </div>
  <div class="large-9 columns">
    <ul class="inline-list right">
      <li><%= link_to "Contact Us", "#" %></li>
      <li><%= link_to "Logout", "#" %></li>
    </ul>
  </div>
</div>
<!-- End Header and Nav -->
